/devel/ide_project/unida_java/nbproject/private/
/devel/ide_project/unida_java/build/
/devel/ide_project/unida_java/dist/
/devel/ide_project/unida_java_basicgui/nbproject/private/
/devel/ide_project/unida_java_basicgui/build/
/devel/ide_project/unida_java_basicgui/dist/
/devel/ide_project/gateways/unida_java_laptop_gateway/nbproject/private/
/devel/src/com/mytechia/unida/library/device/ontology/dogont/catalog-v001.xml
*catalog*xml
/devel/ide_project/gateways/unida_java_laptop_gateway/build/
/devel/ide_project/gateways/unida_java_laptop_gateway/dist/
/devel/ide_project/unida_java_logger/nbproject/private/
/devel/ide_project/unida_java_logger/build/
/devel/ide_project/unida_proxy/nbproject/private/
/devel/ide_project/unida_proxy/dist/
/devel/ide_project/unida_proxy/build/